
<% @subscribed_comics.each do |comic| %>
	
	<%= link_to(comic) do %>
		<div class="large-3 medium-4 small-6 column">
			<%= image_tag comic.image.url(:medium) %>
			<h3><%= comic.title %></h3>
		</div>
	<% end %>
<% end %>

